<%= stylesheet_link_tag 'new_user.css' %>
<div>
  <div class="container">
    <div class="form-box shadow-lg">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <h1 class="text-dark mt-3">Sign Up</h1>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="d-flex input-fields">
          <div class="mt-3">
              <%= f.text_field :first_name ,placeholder: " First Name", class: "form-control"  %>
              <% resource.errors.full_messages_for(:first_name).each do |error_message| %>
                  <p class="text-danger m-0 p-0"> *<%= error_message %></p>
              <% end %>
          </div>
          <div class="mt-3">
              <%= f.text_field :last_name ,placeholder: " Last Name", class: "form-control"  %>
          </div>
          <div class="mt-3">
              <%= f.text_field :email ,placeholder: " Email", class: "form-control"  %>
              <% resource.errors.full_messages_for(:email).each do |error_message| %>
                  <p class="text-danger m-0 p-0"> *<%= error_message %></p>
              <% end %>
          </div>
          <div class="mt-3">
              <%= f.password_field :password, placeholder: " Password", class: "form-control"  %>
          </div>
          <div class="mt-3">
              <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: " Confirm Password", class: "form-control" %>
          </div>
          <div class="mt-4 d-flex justify-content-evenly">
            <!-- <span>Roles-</span> -->
            <%= f.collection_check_boxes :role_ids, @roles, :id, :title do |box|%>
              <span>
                <%= box.check_box %>
                <%= box.label %>
              </span>
            <% end %>
          </div>
      </div>
          <div class="actions"></div>
          <%= f.submit "Sign Up" , class:"btn btn-primary mt-4 mb-3"%>
            <%= render "devise/shared/links" %>
        </div>
      
      <% end %>
      
      </div>
      
  </div>
  </div>
</div>



