<div class="container flex-column">
  <div class="h1 my-5">End Of Winter Sale Is Here</div>
  <div class="shoes">
    <div class="h5 my-3 text-center">
      Shop For The Latest Shoes In The Zone
    </div>
    <div class="row">
      <div class="col-md-3">
        <div id="carouselExampleInterval1" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner ">
            <div class="carousel-item active" data-bs-interval="2000">
              <!-- <img src="..." class="d-block w-100" alt="..."> -->
              <%= image_tag 'shoes1.png', class: "d-block w-100" %>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
             <%= image_tag 'shoes1.png', class: "d-block w-100" %>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
             <%= image_tag 'shoes1.png', class: "d-block w-100" %> 
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval1" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          <div class="d-flex justify-content-center mt-3">
            <div class="btn btn-dark m-auto">
              Buy Now
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div id="carouselExampleInterval2" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <!-- <img src="..." class="d-block w-100" alt="..."> -->
              <%= image_tag 'shoes1.png', class: "d-block w-100" %>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
             <%= image_tag 'shoes1.png', class: "d-block w-100" %>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
             <%= image_tag 'shoes1.png', class: "d-block w-100" %> 
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <div class="btn btn-dark m-auto">
          Buy Now
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div id="carouselExampleInterval3" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner ">
            <div class="carousel-item active" data-bs-interval="2000">
              <!-- <img src="..." class="d-block w-100" alt="..."> -->
              <%= image_tag 'shoes1.png', class: "d-block w-100" %>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
             <%= image_tag 'shoes1.png', class: "d-block w-100" %>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
             <%= image_tag 'shoes1.png', class: "d-block w-100" %> 
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval3" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval3" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          <div class="d-flex justify-content-center mt-3">
            <div class="btn btn-dark m-auto">
              Buy Now
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div id="carouselExampleInterval4" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <!-- <img src="..." class="d-block w-100" alt="..."> -->
              <%= image_tag 'shoes1.png', class: "d-block w-100" %>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
             <%= image_tag 'shoes1.png', class: "d-block w-100" %>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
             <%= image_tag 'shoes1.png', class: "d-block w-100" %> 
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval4" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval4" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <div class="btn btn-dark m-auto">
          Buy Now
          </div>
        </div>
      </div>
    </div>
  </div>
</div>