<%= stylesheet_link_tag "users.css" %>
<%= javascript_include_tag 'users.js' %>


<div class="mx-5">

    <h1 align="center" class="my-4 pt-5">Registered User List</h1>

    <table align="center" class="shadow" id="users-datatable" data-source="<%= users_path(format: :json) %>">
    <thead>
        <tr class="border-bottom">
            <th>
                ID
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th>
                Roles
            </th>
            <th>
                Status
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>

        
        
    </table>

</div>

<!-- <div class="d-flex justify-content-center mt-5"> -->
  <%#  if params[:page].to_i > 1 %>
   <!-- <div class=""><%= link_to "Previous", users_path(page: params[:page].to_i - 1), class:"btn btn-outline-secondary mx-4" %></div> -->
  <%#  end %>
  <!--  -->
  <%#  if @users.size == @per_page %>
    <%# if !params[:page] %>
      <!-- <div class=""><%= link_to "Next", users_path(page: 2), class:"btn btn-outline-secondary" %></div> -->
    <%# else %>
      <!-- <div class=""><%= link_to "Next", users_path(page: params[:page].to_i + 1), class:"btn btn-outline-secondary" %></div> -->
    <%# end %>
  <%#  end %>
  <!--  -->
<!-- </div> -->