<nav class="navbar navbar-light bg-primary justify-content-between py-3">
  <!-- Logo or Branding -->
  <span class="navbar-brand ms-4">
    <%= link_to 'Ekaart App', root_path, class: "text-decoration-none text-white" %>
  </span>
  
  <!-- Navbar Content: Links and User Info -->
  <div class="d-flex align-items-center rounded-pill">
    <%= form_tag root_path, method: :get, html: {class: "rounded-pill"} do %>
      <div class="input-group bg-white">
        <%= text_field_tag :search, params[:search], placeholder: "Search for products", class: "form-control border-0", name: "search" %>
          <button class="btn btn-outline-success border-0" type="submit">
            Search
          </button>
      </div>
    <% end %> 

   <div class="mx-4">
     <%= link_to cart_items_path do %>
      <button type="button" class="btn btn-primary position-relative">
        Cart <i class="bi bi-cart-fill text-white position-relative fs-5">
          <% if current_user and current_user.cart_items.count != 0 %>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-danger fst-normal" style="font-size: 10px"><%= current_user.cart_items.count %>
          </span>
          <% end %>
          <% unless session[:cart_items].blank? %>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-danger fst-normal" style="font-size: 10px"><%= session["cart_items"].count %>
          </span>
          <% end %>
        </i> 
        
      </button>
    <% end %>
   </div>
    

    <% if user_signed_in? %>
      <!-- Display Welcome Message -->
      <span class="px-3 fs-6 fw-semibold text-white">
        Welcome, <%= current_user.first_name %>
      </span>
       

      <!-- Admin Dropdown: Visible only if the user is an admin -->
      <% if current_user.admin? %>
        <div class="dropdown mx-2">
          <button class="btn btn-primary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin Options
          </button>
          <ul class="dropdown-menu">
            <%= link_to 'Add User +', new_user_registration_path, class: "dropdown-item" %>
            <%= link_to 'Roles', roles_path, class: "dropdown-item" %>
            <%= link_to 'Users', users_path, class: "dropdown-item" %>
            <%= link_to 'Categories', admin_categories_path, class: "dropdown-item" %>
           <%= link_to 'Products', admin_products_path, class: "dropdown-item" %>
           <%= link_to 'Stocks', product_stocks_path, class: "dropdown-item" %>
          </ul>
        </div>
      <% end %>
       <% if current_user.owner? %>
       <div class="dropdown mx-2">
          <button class="btn btn-primary dropdown-toggle fw-semibold" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Owner Options
          </button>
          <ul class="dropdown-menu">
            <%= link_to 'Add Product +', new_product_path, class: "dropdown-item" %>
            <%= link_to 'Orders', user_orders_path(current_user), class: "dropdown-item" %>
            <%= link_to 'My Products', products_user_path(current_user), class: "dropdown-item" %>
            <%= link_to 'Stocks Transactions', product_stocks_path, class: "dropdown-item" %>  
          </ul>
        </div>
          
       <% end %>

      <!-- User Profile Dropdown -->
      <div class="dropdown mx-3 me-5">
        <button class="btn btn-primary fw-semibold dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          My Profile
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to 'Profile', user_path(current_user), class: "dropdown-item"%></li>
          <li><%= link_to 'Edit Profile', edit_user_path(current_user), class: "dropdown-item"%></li>
          <li><%= link_to orders_path, class: "dropdown-item" do %>
             My Orders  <i class="bi bi-bag-fill"></i>
          <% end %>
          </li>
          <li><%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to log out?' }, class: "dropdown-item" %></li>
        </ul>
      </div>
    
    <% else %>
      <!-- If the user is not signed in, show sign-in and sign-up links -->
      <%= link_to user_session_path, class: "mx-1 btn btn-primary" do %>
      <div class="mx-2 text-white">
        <span>Sign In</span>
        <i class="bi bi-box-arrow-in-right"></i>
      </div>
      <% end %>
      
      <%= link_to new_user_registration_path, class: "mx-1 btn btn-primary"  do %>

      <div class="mx-2 text-white">
        <span>Sign Up</span>
        <i class="bi bi-person-plus-fill"></i>
      </div>
      
      <% end %>
      
    <% end %>
    
  </div>
</nav>
