<%= stylesheet_link_tag 'order.css' %>
<%= javascript_include_tag 'onchange.js' %>
<div class="owner-orders bg-light px-5">
  <div class="fs-2">
    Orders
  </div>
  <% @orders.each do |items| %>
    <div class="bg-white px-3 p-1 shadow my-3">
      <% items.order_items.each do |order| %>
        <% if current_user.product_ids.include?(order.product_id) %>
          <div class="row my-4 fs-5 text-center">
            <div class="col-md-2">
              <%= image_tag order.product.images.first, class: "h-300 py-2" %>
            </div>
            <div class="col-md-2 m-auto">
              <%= order.product.name %>  x  <%= order.quantity %>
            </div>
            <div class="col-md-1 m-auto">
              &#8377;<%= order.price %>
            </div>
            <div class="col-md-2 fs-6 m-auto">
              <% if order.placed? %>
                <i class="bi bi-check-circle-fill text-warning"></i>
              <% elsif order.accepted? %>
              <i class="bi bi-check-circle-fill text-success"></i>
              <% end %>
              <%= order.status.humanize %> On <%= order.updated_at.strftime("%B %d") %>
            </div>
            <div class="col-md-3 d-flex justify-content-between">
              <div class="fs-6 m-auto">
                <%= items.user.first_name + " " + items.user.last_name  %> , 
                <%= order.address %>
              </div>
            </div>
            <div class="col-md-2 d-flex align-items-center gap-2">
              <span class="fs-6">
                Status :
              </span>
              <%= form_with model: order, url: user_order_item_path(current_user, order), method: :patch, local: true, html: { id:"frm" } do |f| %>
                <%= f.select :status, options_for_select(OrderItem.statuses.map { |status, value| [status.to_s.humanize, status.to_s] }, selected: order[:status]),{},{ class: "form-control"} %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>


