<%= stylesheet_link_tag 'signin.css' %>
<div>
  <div class="container">
    <div class="h-50 w-50 shadow-lg bg-white">
			<h1 class="text-center pt-3 mt-4">Sign In</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name),html: {class: "h-65"}) do |f| %>
        <div>
          <div class="field">
          <%= f.email_field :email, placeholder: "Email", class:"form-control mb-4" %>
          <%= f.password_field :password, placeholder: "Password", class:"form-control" %>
          
        </div>
        <div class="d-flex flex-column align-items-center mt-4 gap-3">
          <%= f.submit "Log in", class: "btn btn-primary " %>
          <%= render "devise/shared/links" %>
        </div>             
        </div>
      <% end %>       
		</div>
	</div> 
</div>
