<%= stylesheet_link_tag "new_user.css" %>

<div class="back-btn">
    <%= link_to '<-Back', admin_roles_path %>
</div>

<div class="h-100">
    <div class="container ">
        <div class="form-box shadow" style="height: 40vh;">
            <%= form_for @role, url: admin_role_path, html: { class: ' d-flex justify-center'}  do |f| %>

            <h1>Role Update</h1>

                <div>
                    <%= f.text_field :title ,placeholder:" Title", class:"form-control" %>
                </div>
                <div>
                    <%= f.text_field :description ,placeholder:" Description", class:"form-control"  %>
                </div>
                <div>
                <%= f.submit "Update", class:"btn btn-outline-primary" %>
                </div>

            <% end %>
        </div>
    </div>
</div>