<%= stylesheet_link_tag 'add_product.css' %>
<div class="d-flex input-fields">
    <div class="mt-3">
        <%= f.text_field :name ,placeholder:"Product Name", class:"form-control"  %>
        <% @product.errors.full_messages_for(:name).each do |error_message| %>
            <p class="text-danger m-0 p-0"> *<%= error_message %></p>
        <% end %>
    </div>
    <div class="mt-3">
        <%= f.text_area :description ,placeholder:" Description", class:"form-control"  %>
    </div>
    
    <div class="mt-3">
        <%= f.text_field :price ,placeholder:" Price (in ruppes)", class:"form-control"  %>
        <% @product.errors.full_messages_for(:price).each do |error_message| %>
            <p class="text-danger m-0 p-0"> *<%= error_message %></p>
        <% end %>
    </div>
    <div class="mt-3 ">
      <%= f.label :images, 'Add Image :', class: "mb-3" %>
      <div>
        <%= f.file_field :images, placeholder: "Add Image", multiple: true %>
      </div>
    </div>
    <div >
        <%= f.label :categories, 'Select Categories: ' %>
        <%= f.select :category_ids, options_from_collection_for_select(Category.all, :id, :name, @product.category_ids), class: "form-select max-h", multiple: true %>
    </div>
</div>