<div class="d-flex input-fields">
    <div class="mt-3">
        <%= f.text_field :name ,placeholder:"Product Name", class:"form-control"  %>
        <% @product.errors.full_messages_for(:name).each do |error_message| %>
            <p class="text-danger m-0 p-0"> *<%= error_message %></p>
        <% end %>
    </div>
    <div class="mt-3">
        <%= f.text_area :description ,placeholder:" Description", class:"form-control"  %>
    </div>
    
    <div class="mt-3">
        <%= f.text_field :price ,placeholder:" Price (in ruppes)", class:"form-control"  %>
        <% @product.errors.full_messages_for(:price).each do |error_message| %>
            <p class="text-danger m-0 p-0"> *<%= error_message %></p>
        <% end %>
    </div>
    <div class="mt-3 ">
      <%= f.label :image, 'Add Image :', class: "mb-3" %>
      <div>
        <%= f.file_field :image, placeholder: "Add Image" %>
      </div>
    </div>
    <div class="mt-3 d-flex justify-content-center"> 
        <% Category.all.each do |category| %>
          <%= f.check_box :categories, {multiple: true,checked: @product.categories.map{|category| category.id}.include?(category.id)}, category.id, nil %>
          <%= f.label :categories, category.name, class:"mx-2" %>  
        <% end %>
    </div>
</div>