<%= stylesheet_link_tag 'home.css' %>
<%# = javascript_include_tag 'home.js' %>
<div class="home bg-light row px-5">
  <div class="left col-md-2">
    <div>
      <div class="my-4 fs-4 fw-medium">
        Categories
      </div>
      <% @categories.each_with_index do |category,i| %>
        <% if !category.subcategories.blank? and category.parent.blank?  %>
            <div>
              <div class="accordion" id="accordionExample<%= i %>">
                  <div class="accordion-item">
                      <div class="accordion-header d-flex rounded-1">
                        <div class="my-auto ms-3 w-75">
                          <%= link_to root_path(category:category.id) do %>
                            <%= category.name %>
                          <% end %>
                        </div>
                        <div>
                          <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= i %>" aria-expanded="true" aria-controls="collapseOne">
                            
                        </button>
                        </div>
                      </div>
                      <div id="collapse<%= i %>" class="accordion-collapse collapse" data-bs-parent="#accordionExample<%=i%>">
                          <% category.subcategories.each_with_index do |item,j| %>
                              <% if !item.subcategories.blank? %>
                                <div>
                                  <div class="accordion" id="accordionExample">
                                      <div class="accordion-item">
                                          <div class="accordion-header d-flex rounded-1">
                                            <div class="my-auto ms-3 w-75">
                                              <%= link_to root_path(category:item.id) do %>
                                                <%= item.name %>
                                              <% end %>
                                            </div>
                                            <div>
                                              <button class="accordion-button collapsed hey" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= i %><%= j %>" aria-expanded="true" aria-controls="collapseOne">
                                                
                                            </button>
                                            </div>
                                          </div>
                                          <div id="collapse<%= i %><%= j %>" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                              <% item.subcategories.each do |item| %>
                                                  <% if item.subcategories.blank? %>
                                                    <div class="accordion-body">
                                                      <%= link_to root_path(category: item.id) do %>
                                                          <%= item.name %>
                                                      <% end %>
                                                    </div>
                                                  <% else %>
                                                      <div class="accordion-body">
                                                      <%= link_to root_path(category: item.id) do %>
                                                          <%= item.name %>
                                                      <% end %>
                                                    </div>
                                                  <% end %>
                                              <% end %> 
                                              
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <% else %>
                                  <div class="accordion-body">
                                  <%= link_to root_path(category: item.id) do %>
                                      <%= item.name %>
                                  <% end %>
                                </div>
                              <% end %>
                          <% end %> 
                          
                      </div>
                  </div>
              </div>
          </div>
          <% elsif !category.parent %>
          <div class="w-100 bg-white p-3 fs-6 rounded-1 border">
            <%= link_to root_path(category:category.id) do %>
                <%= category.name %>
            <% end %>
          </div>
          <% end %>
      <% end %>
    </div>
  </div>
  <div class="right col-md-10">
    <% if @title %>
      <div class="electronics bg-white py-4 my-3 d-flex flex-column">
        <div class="heading fs-3 ps-5 pb-2">
          Search Results For "<%= @title %>"
        </div>
        <div class="main row mx-5">
          <% @products.each do |item| %>
            <div class="col-md-3">
              <div class="home-card  gap d-flex  align-items-center justify-content-center ">
                <div class="d-flex flex-column justify-content-center">
                  
                  <% if item.count_stocks > 0 %>
                    <%= link_to product_path(item.id) do %>
                      <%= image_tag item.images.first, class:"img-fluid h-300 "%>
                    <% end %>
                    <div>
                      <%= form_for CartItem.new do |f| %>
                          <%= f.hidden_field :user_id, value: current_user.id if user_signed_in? %>
                          <%= f.hidden_field :quantity, value: 1 %>
                          <%= f.hidden_field :product_id, value: item.id %>
                          <%= f.submit "Add +", class: "m--1 w-50 py-1 bg-secondary border-0 text-white rounded-3 fw-medium "%>
                      <% end %>
                    </div>
                  <% else %>
                    <%= link_to product_path(item.id) do %>
                      <%= image_tag item.images.first, class:"img-fluid h-300 bw-filter position-relative"%>
                    <% end %>
                    <!-- <button type="button" class="m--1 w-75 py-1 btn-secondary border-0 text-white rounded-3 fw-medium mx-auto z-3 " disabled> Out Of Stock</button> -->
                    <button type="button" class="m--1 btn btn-secondary w-75 mx-auto fs-6 p-1 z-3" disabled>Out Of Stock</button>
                  <% end %>
                  <div class="text-secondary text-center mt-2"><%= item.name %></div>
                  <p class="fs-5 text-semibold text-center">
                    &#8377;<%= item.price %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% elsif @name %>
      <div class="electronics bg-white py-4 my-3 d-flex flex-column">
        <div class="heading fs-3 ps-5 pb-2">
          Products of <%= @name %> Categories
        </div>
        <div class="main row mx-5">
          <% @products.each do |item| %>
            <div class="col-md-3">
              <div class="home-card  gap d-flex  align-items-center justify-content-center ">
                <div class="d-flex flex-column justify-content-center">
                  
                  <% if item.count_stocks > 0 %>
                    <%= link_to product_path(item.id) do %>
                      <%= image_tag item.images.first, class:"img-fluid h-300 "%>
                    <% end %>
                    <div>
                      <%= form_for CartItem.new do |f| %>
                          <%= f.hidden_field :user_id, value: current_user.id if user_signed_in? %>
                          <%= f.hidden_field :quantity, value: 1 %>
                          <%= f.hidden_field :product_id, value: item.id %>
                          <%= f.submit "Add +", class: "m--1 w-50 py-1 bg-secondary border-0 text-white rounded-3 fw-medium "%>
                      <% end %>
                    </div>
                  <% else %>
                    <%= link_to product_path(item.id) do %>
                      <%= image_tag item.images.first, class:"img-fluid h-300 bw-filter position-relative"%>
                    <% end %>
                    <!-- <button type="button" class="m--1 w-75 py-1 btn-secondary border-0 text-white rounded-3 fw-medium mx-auto z-3 " disabled> Out Of Stock</button> -->
                    <button type="button" class="m--1 btn btn-secondary w-75 mx-auto fs-6 p-1 z-3" disabled>Out Of Stock</button>
                  <% end %>
                  <div class="text-secondary text-center mt-2"><%= item.name %></div>
                  <p class="fs-5 text-semibold text-center">
                    &#8377;<%= item.price %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="car pe-5 pt-5">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <!-- <img src="..." class="d-block w-100" alt="..."> -->
            <%= image_tag 'car2.webp', class: "d-block w-100" %>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <!-- <img src="..." class="d-block w-100" alt="..."> -->
            <%= image_tag 'car1.webp', class: "d-block w-100" %>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <!-- <img src="..." class="d-block w-100" alt="..."> -->
            <%= image_tag 'car3.webp', class: "d-block w-100" %>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="categories">
      <% @categories.shuffle.each do |category| %>
        <% unless category.products.blank? %>
          <div class="bg-white py-4 my-3">
            <div class="heading fs-3 ps-5 pb-2">
              Best Of <%= category.name %>
            </div>
            <div class="main row mx-5">
              <% category.products.each do |item| %>
                <div class="col-md-3">
                  <div class="home-card  gap d-flex  align-items-center justify-content-center ">
                    <div class="d-flex flex-column justify-content-center">
                      
                      <% if item.count_stocks > 0 %>
                        <%= link_to product_path(item.id) do %>
                          <%= image_tag item.images.first, class:"img-fluid h-300 "%>
                        <% end %>
                        <div>
                          <%= form_for CartItem.new do |f| %>
                              <%= f.hidden_field :user_id, value: current_user.id if user_signed_in? %>
                              <%= f.hidden_field :quantity, value: 1 %>
                              <%= f.hidden_field :product_id, value: item.id %>
                              <%= f.submit "Add +", class: "m--1 w-50 py-1 bg-secondary border-0 text-white rounded-3 fw-medium "%>
                          <% end %>
                        </div>
                      <% else %>
                        <%= link_to product_path(item.id) do %>
                          <%= image_tag item.images.first, class:"img-fluid h-300 bw-filter position-relative"%>
                        <% end %>
                        <!-- <button type="button" class="m--1 w-75 py-1 btn-secondary border-0 text-white rounded-3 fw-medium mx-auto z-3 " disabled> Out Of Stock</button> -->
                        <button type="button" class="m--1 btn btn-secondary w-75 mx-auto fs-6 p-1 z-3" disabled>Out Of Stock</button>
                      <% end %>
                      <div class="text-secondary text-center mt-2"><%= item.name %></div>
                      <p class="fs-5 text-semibold text-center">
                        &#8377;<%= item.price %>
                      </p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

