<%= stylesheet_link_tag "product.css", "data-turbo-track": "reload"%>

<div class="main bg-light px-5">
    <div class="hero px-5">
        <div class="row m-5 p-5 h-600 bg-white">
            <div class="col-md-5 text-center">
                <%= image_tag @product.images.first ,class: "img-fluid h-500"%>
            </div>
            <div class="col-md-7  px-5">
                <div class="d-flex flex-column justify-content-center py-5">
                    <div class="fs-2 py-3">
                        <%= @product.name %>
                    </div>
                    <div class="fs-4 py-3 text-secondary">
                    
                        <%= @product.categories.pluck(:name).join(", ") %>
                    </div>
                    <div class="fs-4 text-secondary py-3">
                        Description - <br>
                        <%= @product.description %>
                    </div>
                    <div class="fs-2 fw-bold py-3">
                        &#8377;<%= @product.price %>
                    </div>
                    <div class="fs-2 fw-semibold py-3 row">
                        <div class="col-md-6 bg-secondary rounded-pill text-center text-white">
                            Add To Cart
                        </div>
                        <div class="col-md-6 bg-warning text-center rounded-pill">
                            Buy Now
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>